<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Class Demo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/list_users">List Users</a></li>
            <li class="active"><a href="/user">Add User</a></li>
            <li><a href="/chart">Chart</a></li>
            <li><a href="/map">Map</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
<div class="jumbotron text-center">
  <h1>Add User Form</h1>
</div>

<div class="container">
 {% if current_user.is_authenticated %}
 <center><form class="form-adduser" style="width:30%;" method="post" action="/adduser">
     <h2 class="form-signin-heading">Add a User</h2>
     <label for="inputFname" class="sr-only">First Name</label>
     <input type="text" name="fname" id="fname" class="form-control" placeholder="first name" required autofocus>
     <label for="inputFname" class="sr-only">First Name</label>
     <input type="text" name="lname" id="lname" class="form-control" placeholder="last name" required autofocus>
     <label for="inputId" class="sr-only">Student Id</label>
     <input type="text" name="student_id" id="student_id" class="form-control" placeholder="student Id" required>
     <label for="inputDOB" class="sr-only">Date of Birth</label>
     <input type="text" name="date_of_birth" id="date_of_birth" class="form-control" placeholder="YYYY-MM-DD" required>
     <label for="inputPassword" class="sr-only">Password</label>
     <input type="password" name="pwd" id="inputPassword" class="form-control" placeholder="Password" required>
     <div class="checkbox">
       <label>
         <input type="checkbox" value="remember-me"> Remember me
       </label>
     </div>
     <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form></center>
 {% endif %}
</div>

</body>
</html>
